@import url('http://fonts.cdnfonts.com/css/norse');
@import url('http://fonts.cdnfonts.com/css/viking-normal');

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Styles */

:root {
    --ff-primary:'Norse', sans-serif;
    --ff-secondary: 'viking-normal', sans-serif;

    --fw-reg: 300;
    --fw-bold: 900;

    --clr-light: #FBEEC1;
    --clr-brown: #BC986A;
    --clr-blue: #659DBD;
    --clr-blue-drk: #326698;
    --clr-accent-brown: #DAAD86;
    --clr-accent-green: #8D8741;
    --clr-neutral: #efefef;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-boody: 1rem;
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem;
        --fs-body: 1.125rem;
    }
}

/* General Styles */

header {
    background: var(--clr-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    padding-right: 0px;
}

body {
    background: linear-gradient(var(--clr-accent-bright), var(--clr-blue));
    display: block;
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    width: 100%;
    text-align: center;
    margin: 0;
}

.main {
    color: #2f3337;
    margin: 0 auto 24px;
    padding: 16px 24px 0;
    max-width: 1440px;
}

img {
    display: block;
    max-width: 250px;
}
hr {
    max-width: 90%;
}

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1);}
h2 { font-size: var(--fs-h2);}
h3 { font-size: var(--fs-h3);}

.intro {
    background: var(--clr-light);
}

.intro__subtitle {
    margin: 0;
}

.projects {
    text-align: center;
    margin: 0;
}

.projects__sub {
    display: inline-flex;
    text-align: center;
    margin: 0;
}

.contact {
    display: inline-flex;
}

.contact, ul {
    padding-left: 0;
    margin: 0;
    list-style-type:none;
}

footer {
    background: var(--clr-accent-green);
    text-align: center;
    margin: 0;
}